# Files
.vscode/
*.html
SingleCells/notebook/src/tmp/

Regression-positive_esr1_xavier.ipynb


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
notebooks/src/.Rhistory
notebooks/src/model_builder.py
notebooks/src/model_selection.py
notebooks/src/modules.py
notebooks/src/NeoLet_metadata.ipynb
notebooks/src/pickle_reader.py
notebooks/src/R_Lasso.ipynb
notebooks/src/tmp/Rtmp2PaIJp/file3586a5ffaa416.png
notebooks/src/tmp/Rtmp2PaIJp/file3586a6c28c95a.png
notebooks/src/tmp/Rtmp2PaIJp/file3586a31f411d3.png
notebooks/src/tmp/Rtmp2PaIJp/file3586a1663f1ee.png
notebooks/src/tmp/Rtmp2PaIJp/file3586a280308fb.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15b7bee40.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15eb6c091.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15f66b49e.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15f718cdb.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15f773e3.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15fb1d441.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15fc40763.png
notebooks/src/tmp/RtmpP2hcSm/file3ba151acf3d89.png
notebooks/src/tmp/RtmpP2hcSm/file3ba151c7fca0.png
notebooks/src/tmp/RtmpP2hcSm/file3ba151ca82c20.png
notebooks/src/tmp/RtmpP2hcSm/file3ba151d1b0325.png
notebooks/src/tmp/RtmpP2hcSm/file3ba152daec3b3.png
notebooks/src/tmp/RtmpP2hcSm/file3ba152e8a3e2f.png
notebooks/src/tmp/RtmpP2hcSm/file3ba153cbc458d.png
notebooks/src/tmp/RtmpP2hcSm/file3ba153e9b9011.png
notebooks/src/tmp/RtmpP2hcSm/file3ba155e05e084.png
notebooks/src/tmp/RtmpP2hcSm/file3ba156b8c9407.png
notebooks/src/tmp/RtmpP2hcSm/file3ba156e3b68a3.png
notebooks/src/tmp/RtmpP2hcSm/file3ba157a978782.png
notebooks/src/tmp/RtmpP2hcSm/file3ba157ae7dbd0.png
notebooks/src/tmp/RtmpP2hcSm/file3ba157f0a5334.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1512ebd4cc.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1516d10fa1.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1524ba2cf6.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1535ff9de5.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1538f887c6.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1549fc40ca.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1556c585c9.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1565e9a428.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1570aef040.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1575f4b15a.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15158f9136.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15445f8eb3.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15491b99f.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15576fba4d.png
notebooks/src/tmp/RtmpP2hcSm/file3ba151278f2d9.png
notebooks/src/tmp/RtmpP2hcSm/file3ba152353aa84.png
notebooks/src/tmp/RtmpP2hcSm/file3ba156152a2af.png
notebooks/src/tmp/RtmpP2hcSm/file3ba157368da2b.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1549436a30.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15362435d2.png
notebooks/src/tmp/RtmpP2hcSm/file3ba15482569ce.png
notebooks/src/tmp/RtmpP2hcSm/file3ba154508791c.png
notebooks/src/tmp/RtmpP2hcSm/file3ba155447431e.png
notebooks/src/tmp/RtmpP2hcSm/file3ba158176573.png
notebooks/src/tmp/RtmpP2hcSm/file3ba1524399407.png
notebooks/src/tmp/RtmpP2hcSm/libloc_196_3a395f6075d3510a.rds
notebooks/src/tmp/RtmpP2hcSm/repos_https%3A%2F%2Fcran.r-project.org%2Fsrc%2Fcontrib.rds
notebooks/src/tmp/RtmpP2hcSm/downloaded_packages/doMC_1.3.7.tar.gz
notebooks/src/tmp/RtmpP2hcSm/downloaded_packages/l2boost_1.0.1.tar.gz
